.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px 15px;
  width: 30%;
  box-shadow: 5px 10px #00000050;
}

@media (max-width: 750px) {

  p {
    font-size: 12px;
  }

  span {
    font-size: 20px;
  }

  svg {
    display: none;
  }
}

.resumeCabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}

.resumeCabecalho>svg {
  width: 25px;
  height: 25px;
}

.resumeCabecalho>p {
  font-size: 20px;
}

.resume>span {
  font-size: 30px;
  font-weight: bold;
}